.root {
    padding: 100px;
    max-width: 750px;
    margin: 0 auto; 
    text-align: center;

    span {
        font-size: 5rem;
    }

    
}

.description {
    font-size: 20px;
    padding-top: 1rem;
}